<ion-view hide-nav-bar="true">
    <ion-content class="backgound-blue">
      <section class = "home-container">

        <div class="row row-center" >
          <div class="col text-center" >
            <img alt="Logo" src="img/logo.png" >
          </div>
        </div>
        
        <div class="row row-center">
            <div class="col">
              <button class="button button-block button-assertive"  ng-click="goToListServicesView()">
                Login
              </button>
            </div>
        </div>
      </section>
    </ion-content>
  </ion-view>
